/* Global site Stylesheet */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
::selection {
    color: white;
    background: black;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    text-align: center;
}
h1 {
    color: #007eff;
    font-size: 3em;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.5em;
    color: #bbb;
}
.text-small {
    font-size: 1em;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.main-content {
    animation: fadeIn 1s ease-in-out;
}
.social-links {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github-icon {
    font-size: 4em;
    color: #fff;
    text-decoration: none;
}
.github-icon:hover {
    /* color: #bbb; */
    color: #007eff;
    text-decoration: none;
}
.linkedin-icon {
    margin-left: 0.5em;
    color: #fff;
    font-size: 4em;
    text-decoration: none;
}
.linkedin-icon:hover {
    /* color: #0e76a8; */
    color: #007eff;
    text-decoration: none;
}
.contact-info {
    margin-top: 4em;
    text-align: center;
}
.contact-info p {
    font-size: 1.2em;
    color: #bbb;
}
.contact-info i {
    margin-right: 10px;
    color: #fff;
}
.email-link {
    color: #bbb;
    text-decoration: none;
}
.email-link:hover {
    color: #fff;
}
